@{
    ViewBag.Title = "Потвърждаване на имейла";
    var statusMessageClass = ViewBag.Succeeded ? "success" : "danger";
}

<div>
    <h1>@ViewBag.Title</h1>

    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        @ViewBag.StatusMessage
    </div>

    <div class="container mt-3">
        @if (ViewBag.Succeeded)
        {
            <div class="p-3">
                <a class="btn btn-success" asp-area="" asp-controller="User" asp-action="Login">Вход</a>
            </div>
        }
        @if (!ViewBag.Succeeded)
        {
            <div class="p-3">
                <a class="btn btn-danger" asp-area="" asp-controller="User" asp-action="Register">Регистрация</a>
            </div>
        }
    </div>
</div>