@{
    ViewData["Title"] = "Потвърждавене на регистрацията";
}

<div>
    <h1>@ViewData["Title"]</h1>

    <p>
        <a id="confirm-link" href="@ViewBag.EmailConfirmationUrl">
            Натиснете тук за да потвърдите имейла
        </a>
    </p>
</div>

