@{
    ViewData["Title"] = "Акаунти";
}

<div class="align-self-stretch">
    <h1 class="fw-bold">Администрация @ViewData["Title"]</h1>

    <div class="container mt-4 mb-4 overflow-hidden">
        <div class="row fs-2">
            <div class="col nav-div bg-danger p-5 me-4">
                <a asp-area="Admin" asp-controller="Account" asp-action="Add">
                    <p>Добави</p>
                    <img src="/images/icons/add.png" alt="Add Icon" />
                </a>
            </div>
            <div class="col nav-div bg-danger p-5 ms-4 me-4">
                <a asp-area="Admin" asp-controller="Account" asp-action="Edit">
                    <p>Редактиране</p>
                    <img src="/images/icons/edit.png" alt="Edit Icon" />
                </a>
            </div>
            <div class="col nav-div bg-danger p-5 ms-4">
                <a asp-area="Admin" asp-controller="Account" asp-action="Delete">
                    <p>Изтриване</p>
                    <img src="/images/icons/delete.png" alt="Delete Icon" />
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-4 mb-4 overflow-hidden">
        <div class="row fs-2">
            <div class="col nav-div bg-danger p-5">
                <a asp-area="Admin" asp-controller="Account" asp-action="All">
                    <p>Всички Акаунти</p>
                    <img src="/images/icons/info.png" alt="Info Icon" />
                </a>
            </div>
        </div>
    </div>

   @* <div class="d-flex justify-content-center fs-4 mt-5">
        <div class="bg-danger functional-menu rounded me-3 p-2">
            <a>
                <img class="float-start functional-icon" src="/images/icons/add.png" alt="Add Icon" />
                <span>Добави</span>
            </a>
        </div>
        <div class="bg-danger functional-menu rounded ms-3 me-3 p-2">
            <a>
                <img class="float-start functional-icon" src="/images/icons/edit.png" alt="Edit Icon" />
                <span>Редактирай</span>
            </a>
        </div>
        <div class="bg-danger functional-menu rounded ms-3 p-2">
            <a>
                <img class="float-start functional-icon" src="/images/icons/delete.png" alt="Delete Icon" />
                <span>Изтрий</span>
            </a>
        </div>
    </div>*@
</div>