@using DrivingSchoolSystem.Core.Models.Account
@model IEnumerable<AccountModel>

@{
    ViewData["Title"] = "Изтриване Акаунти";
}

<div class="align-self-stretch mt-5 w-75">
    <h1>Администрация @ViewData["Title"]</h1>

    <div class="d-flex justify-content-center fs-4 mt-5">
        <div class="bg-danger functional-menu rounded ms-3 p-2">
            <a>
                <img class="float-start functional-icon" src="/images/icons/delete.png" alt="Delete Icon" />
                <span>Изтрий</span>
            </a>
        </div>
    </div>

    <table class="table table-danger text-start mt-3">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Пълно име</th>
                <th scope="col">Длъжност</th>
                <th scope="col">Телефон</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model)
            {
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>@account.FullName</td>
                    <td>@account.RoleName</td>
                    <td>@account.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>