@{
    ViewData["Title"] = "Потвърждаване на имейла";
}

<h1>@ViewData["Title"]</h1>
@if (!String.IsNullOrEmpty(ViewBag.StatusMessage))
{
    var statusMessageClass = ViewBag.StatusMessage.StartsWith("Грешка") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.StatusMessage
    </div>
}