@{
    ViewData["Title"] = "Потвърждавене на регистрацията";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a id="confirm-link" href="@ViewBag.EmailConfirmationUrl">
        Натиснете тук за да потвърдите имейла
    </a>
</p>
