body, html {
    width: 100%;
    height: 100%;
    overflow: auto;
}

main {
    margin-top: 20px;
    float: right;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

ul li {
    margin: 8px;
}

.custom-color-background {
    background-color: #80aee0;
}

.color-yellow {
    color: #e9d300;
}

.custom-font {
    font-family: Cursive;
}

.custom-shadow {
    text-shadow: 2px 1px 1px black;
}

.custom-image {
    width: 400px;
    height: 350px;
    border-radius: 50px;
}

a:link, a:visited {
    text-decoration: none;
    color: #e9d300;
}

.sidenav {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-div img {
    width: 130px;
    height: 130px;
    background: #e9d300;
    padding: 8px;
    border-radius: 15px;
}

.nav-div {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50px;
}

.nav-div a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.nav-div p {
    margin-top: 50px;
}

.functional-icon {
    width: 35px;
    height: 35px;
    background: #e9d300;
    padding: 3px;
    margin: 5px;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

div.functional-menu a {
    text-decoration: none;
    color: #e9d300;
}

.config-div div {
    display: flex;
}

.dropdown-menu li {
    width: 90%;
    font-size: 25px;
}

.dropdown a, .dropdown a:hover, .dropdown a:visited {
    text-decoration: none;
    color: #e9d300;
    cursor: pointer;
}

.student-card-img {
    height: 350px;
}

.ms-10 {
    margin-left: 40px;
}
