@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Cursive;
    color: white;
    background-color: dodgerblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, darkblue, darkblue, darkblue, dodgerblue);
}

a, a:hover {
    text-decoration: none;
    color: white;
}

body nav {
    position: fixed;
    width: 340px;
    height: 100%;
    padding: 30px 20px;
    letter-spacing: 1.24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, darkblue, darkblue);
}

nav .nav-menu-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav .nav-menu-container ul {
    list-style: none;
    padding: 0px;
}

nav .nav-menu-container ul li {
    margin-bottom: 8px;
}

nav .nav-menu-container ul li a {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    padding: 6px 10px;
    border-bottom: 2px solid white;
}

nav .nav-menu-container ul li a:hover {
    background-color: white;
    color: black
} 

nav .login-partial-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav .login-partial-container a {
    display: block;
    font-size: 18px;
    padding: 12px 0px;
}

main {
    margin-left: 340px;
    padding: 26px;
    height: 684px;
    background-image: url("../Images/DriveCar.png");
}

main div {
    display: block;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-shadow: 0px 6px 20px black;
    height: 100%;
    background: #0000ff3d;
}

main .home-section .info-app {
    line-height: 2;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    letter-spacing: 1.6px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

main .home-section .info-app .app-info {
    text-align: right;
}

main .home-section .info-app #education-sign {
    font-size: 22rem;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 0px 14px;
}

main .info-app > div > span {
    font-weight: bold;
}

main .home-info {
    text-align: center;
}

main h1#main-text {
    font-size: 4.4rem;
    letter-spacing: 1px;
    line-height: 100px;
}

footer {
    margin-left: 340px;
    padding:24px;
    text-align: center;
    border-top: 2px solid white;
    background-color: black;
    color: white;
}