@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* reset styles */

*, *::after, *::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, ul {
    padding: 0px;
    margin: 0px;    
    font-weight: normal;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

button {
    all: unset;
}

/* common styles */

body {
    padding: 0px;
    margin: 0px;
    font-family: Cursive;
    color: white;
    background-color: dodgerblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, darkblue, darkblue, darkblue, dodgerblue);
}

i {
    margin-right: 8px;
}

input, select {
    border: none;
    border-radius: 8px;
    padding: 10px 8px;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.submit {
    align-self: center;
    padding: 8px 40px;
    border: 4px solid white;
    border-radius: 16px;
    font-size: 20px;
}

.register {
    background-color: #db0000;
}

.login {
    background-color: green;
}

.login:hover {
    cursor: pointer;
    background-color: #00bc00;
}

.register:hover {
    cursor: pointer;
    background-color: red;
}

main {
    margin-left: 340px;
    padding: 20px 16px;
    min-height: 692px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer {
    margin-left: 340px;
    padding: 20px;
    text-align: center;
    border-top: 2px solid white;
    background-color: black;
    color: white;
}

/* Nav styles */

body nav {
    position: fixed;
    width: 340px;
    height: 100%;
    padding: 30px 20px;
    letter-spacing: 1.24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, darkblue, darkblue);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

nav .nav-menu-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nav .nav-menu-container > li > a {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    padding: 6px 10px;
    border-bottom: 2px solid white;
}

nav .nav-menu-container > li > a:hover, .clicked-link {
    background-color: white;
    color: black;
    cursor: pointer;
}

nav .login-partial-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

nav .login-partial-container a {
    display: block;
    font-size: 18px;
    padding: 14px;
    border-radius: 6px;
}

/* Index page styles */
main .background-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
    width: 100%;
    gap: 40px;
}

main .home-section .home-info {
    font-size: 2rem;
    text-align: right;
    background-image: linear-gradient(to bottom, dodgerblue, darkblue, darkblue);
    padding: 16px 12px 16px 40px;
    align-self: end;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    box-shadow: 0px 0px 20px 16px white;
    letter-spacing: 1.6px;
}

/*main h1.main-text {
    font-size: 3rem;
    padding: 16px 40px 16px 12px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-image: linear-gradient(to bottom, darkblue, darkblue, dodgerblue);
    margin: 20px;
    align-self: start;
}*/

/* Login styles */

main .form-container,
main .form-container form,
main .form-container form > div,
main .form-container form .form-main-content,
main .form-container form .form-main-content > div {
    display: flex;
    flex-direction: column;
}

main .form-container {
    gap: 30px;
    text-align: center;
    align-self: center;
}

main .form-container h1.form-head {
    background-image: linear-gradient(to bottom, darkblue, darkblue, dodgerblue);
    border-bottom: 4px solid white;
    padding: 8px;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

main .form-container form {
    justify-content: space-between;
    gap: 20px;
    width: 400px;
}

main .form-container form > div {
    padding: 20px;
    gap: 10px;
}

main .form-container form .form-main-content > div {
    gap: 6px;
    font-size: 18px;
}

main .form-container form .form-main-content span {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

/* pages styles */

.ds-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ds-container > .search-container {
    display: flex;
    justify-content: center;
}

.search-container > input {
    width: 500px;
    border-radius: 36px;
    line-height: 1.4;
    padding: 8px 16px;
    font-family: Arial, FontAwesome;
}

.basic-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 4px solid white;
    padding-top: 16px;
}

.basic-container .row-container {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 20px;
}

.row-container article.card {
    display: flex;
    flex-direction: column;
    color: black;
    cursor: pointer;
    font-size: 15px;
}

.ds-info, .ds-logo {
    padding: 12px;
}

.ds-logo {
    height: 200px;
    background-color: #00bc00;
    border-start-start-radius: 50%;
    border-start-end-radius: 50%;
}

.ds-info {
    background-color: white;
    display: flex;
}

.ds-info > ul > li {
    border-bottom: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.ds-info .info-icons {
    width: 28px;
}

.ds-info .ul-info {
    width: calc(100% - 24px);
}

.ds-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.row-container ul li * {
    display: inline;
} 