@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

/* common styles */

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Cursive;
    color: white;
    background-color: dodgerblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, darkblue, darkblue, darkblue, dodgerblue);
}

a, a:hover {
    text-decoration: none;
    color: white;
}

button.submit {
    all: unset;
    align-self: center;
    padding: 8px 40px;
    border: 4px solid white;
    border-radius: 16px;
    font-size: 20px;
}

main {
    margin-left: 340px;
    padding: 26px;
    min-height: 692px;
    position: relative;
    display: flex;
    justify-content: center;
}

footer {
    margin-left: 340px;
    padding: 20px;
    text-align: center;
    border-top: 2px solid white;
    background-color: black;
    color: white;
}

/* Nav styles */

body nav {
    position: fixed;
    width: 340px;
    height: 100%;
    padding: 30px 20px;
    letter-spacing: 1.24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, darkblue, darkblue);
}

nav .nav-menu-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav .nav-menu-container ul {
    list-style: none;
    padding: 0px;
}

nav .nav-menu-container ul li {
    margin-bottom: 8px;
}

nav .nav-menu-container ul li a {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    padding: 6px 10px;
    border-bottom: 2px solid white;
}

nav .nav-menu-container ul li a:hover {
    background-color: white;
    color: black
} 

nav .login-partial-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav .login-partial-container a {
    display: block;
    font-size: 18px;
    padding: 12px 0px;
}

/* Index page styles */

main .background-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
    width: 100%;
    gap: 40px;
}

main .home-section > * {
    box-shadow: 0px 0px 20px 16px white;
    letter-spacing: 1.6px;
}

main .home-section .home-info {
    font-size: 1.8rem;
    text-align: right;
    background-image: linear-gradient(to bottom, dodgerblue, darkblue, darkblue);
    padding: 16px 12px 16px 40px;
    align-self: end;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
}

main h1.main-text {
    font-size: 3rem;
    padding: 16px 40px 16px 12px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-image: linear-gradient(to bottom, darkblue, darkblue, dodgerblue);
    margin: 20px;
    align-self: start;
}

/* Login styles */

main .form-container,
main .form-container form,
main .form-container form > div,
main .form-container form .form-main-content,
main .form-container form .form-main-content > div {
    display: flex;
    flex-direction: column;
}

main .form-container {
    gap: 30px;
    text-align: center;
    align-self: center;
}

main .form-container h1.form-head {
    background-image: linear-gradient(to bottom, darkblue, darkblue, dodgerblue);
    border-bottom: 4px solid white;
    padding: 8px;
}

main .form-container form {
    justify-content: space-between;
    gap: 20px;
    width: 400px;
}

main .form-container form > div {
    padding: 20px;
    gap: 10px;
}

main .form-container form .form-main-content > div {
    gap: 6px;
}

main .form-container form .form-main-content label {
    font-size: 18px;
}

main .form-container form .form-main-content input,
main .form-container form .form-main-content select {
    border: none;
    border-radius: 8px;
    padding: 8px;
}

main .form-container form .form-main-content span {
    color: red;
    font-weight: bold;
}

form button.login {
    background-color: green;
}

form button.login:hover {
    cursor: pointer;
    background-color: #00bc00;
}

form button.register {
    background-color: #db0000;
}

form button.register:hover {
    cursor: pointer;
    background-color: red;
}