<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrivingSchoolSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DrivingSchoolSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomStyle.css" asp-append-version="true" />
</head>
<body class="custom-font custom-color-background m-0 d-flex">

    <div class="w-25">
        <nav>
            <div class="d-flex flex-column sidenav p-3 shadow-lg color-yellow">
                <partial name="_NavMenuPartial" />
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </div>

    <main role="main" class="text-center">
        <div class="d-flex justify-content-center align-items-center container w-100 h-100">
            @RenderBody()
        </div>
    </main>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
