<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrivingSchoolSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DrivingSchoolSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomePageStyle.css" asp-append-version="true" />
</head>
<body class="custom-font custom-color-background d-flex flex-column position-fixed h-100 w-100">
    <div class="d-flex h-100">
        <header class="w-25">
            <div class="d-flex flex-column sidenav p-3 shadow-lg color-yellow">
                <div class="fs-4 fw-bold custom-shadow border-bottom">
                    <a asp-controller="Home" asp-action="Index">
                        Система за Автошколи
                    </a>
                </div>
                <div class="fs-2 mb-auto">
                    <ul class="custom-shadow">
                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                Начало
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="About">
                                За нас
                            </a>
                        </li>
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </header>

        <div class="container mt-auto mb-auto">
            <main role="main">
                    @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-center">
        <div class="container">
            &copy; 2022 - DrivingSchoolSystem - <a>Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
