@using Microsoft.AspNetCore.Identity
@using DrivingSchoolSystem.Infrastructure.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="login-partial-container">
@if (!SignInManager.IsSignedIn(User))
{
    <a id="login" class="login" asp-controller="User" asp-action="Login">Влез</a>
        <a id="register" class="register" asp-controller="User" asp-action="ProvidedEmail">Регистрирай се</a>
}
else
{
    <a id="logout" class="login" asp-controller="User" asp-action="Logout">Изход</a>
}
</div>