@{
    ViewData["Title"] = "Начало";
}

<section>
        @if (!User.IsInRole(RoleConstant.Admin))
        {
            <h1>Автошкола: @ViewBag.DrivingSchoolName</h1>
            <br />
        }
        <h1>@ViewBag.Role: @ViewBag.UserFullName</h1>
    <h2><i class="fa-solid fa-arrow-right"></i> Прегледайте</h2>
    <article>
        <h2> <i class="fa-solid fa-user"></i></h2>
    </article>
    <article>
        <h2>Администрация <i class="fa-solid fa-building-columns"></i></h2>
    </article>
</section>