@{
    ViewData["Title"] = "Начална страница";
    Layout = "_HomePageLayout";
}

<div class="text-center custom-font">
    <div class="row align-items-center">
        <div class="col fs-3 fw-bold">
            <div>
                <p>Влез и следи записаните курсове в твоята Автошкола</p>
            </div>
            <a class="btn btn-success w-25 pt-3 pb-3 mt-3 mb-3" asp-controller="Account" asp-action="Login">Влез</a>
        </div>
        <div class="col">
            <img src="/images/TestHomePageBackground.jpg" alt="Home Page Image" class="custom-image" />
        </div>
        <div class="col fs-3 fw-bold">
            <div>
                <p>Регистрирай се и получи достъп до записаните курсове в твоята Автошкола</p>
            </div>
            <a class="btn btn-danger w-50 pt-3 pb-3 mt-3 mb-3" asp-controller="Account"
               asp-action="ProvidedEmail">Регистрирай се</a>
        </div>
    </div>
</div>
