@{
    ViewData["Title"] = "Начална страница";
}

<img class="background-img" src="../Images/DriveCar.png"/>
<section class="home-section">
    <div class="home-info">
        <div>Приложение за дигитално информационно</div>
        <div>насочени автошколи в България</div>
    </div>
    @*<h1 class="main-text">Време е да станете шофьор!</h1>*@
</section>
