@{
    ViewData["Title"] = "Начална страница";
}

<section class="home-section">
    <div class="info-app">
        <div id="education-sign">У</div>
        <div class="app-info">
            <div>Приложение за дигитално информационно</div>
            <div>
                насочени автошколи в
                България
            </div>
        </div>
    </div>
    <div class="home-info">
        <h1 id="main-text">Време е да станете шофьор!</h1>
    </div>
</section>
