@{
    ViewData["Title"] = "Автошкола";
}

<div class="align-self-stretch h-100">
    <div>
        @if (!User.IsInRole("Admin"))
        {
            <h1>Автошкола: @ViewBag.DrivingSchoolName</h1>
            <br />
            <h1>Мениджър: @ViewBag.UserFullName</h1>
        }
        else 
        {
            <h1>Администратор на приложението</h1>
        }
    </div>

    <div class="container mt-5 overflow-hidden">
        <div class="row fs-2">
            <div class="col nav-div bg-danger p-5 me-4">
                <a asp-area="" asp-controller="Account" asp-action="All">
                    <p>Акаунти</p>
                    <img src="/images/icons/skills.png" alt="Account Icon" />
                </a>
            </div>
            <div class="col nav-div bg-danger p-5 ms-4 me-4">
                <a asp-area="" asp-controller="Course" asp-action="All">
                    <p>Курсове</p>
                    <img src="/images/icons/online-education.png"
                    alt="Course Icon" />
                </a>
            </div>
            <div class="col nav-div bg-danger p-5 ms-4">
                <a asp-area="" asp-controller="DrivingSchool" asp-action="Profile">
                    <p>Профил</p>
                    <img src="/images/icons/driving-school.png" alt="Driving School Icon" />
                </a>
            </div>
        </div>
    </div>
</div>